span {
  font-weight: 600;
}
body{
  font-family: "DM Sans", serif;
}
.site-app {
  width: 100%;
  min-height: 500px;
  background: #180A0A;
  position: relative;
  cursor: cell;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-image: url('../Images/background.png');
  }
}
svg {
  width: 1300px;
  height: 1500px;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
path {
  stroke: #291024;
  stroke-opacity: 0.7;
  stroke-width: 2;
  /* fill: none; */
  stroke-dasharray: 500; /* Define o comprimento total do path */
  stroke-dashoffset: 500; /* Esconde o path inicialmente */
  animation: drawPath 3s ease-in-out infinite alternate;
}
@keyframes drawPath {
  to {
    stroke-dashoffset: 0; /* Revela o path */
  }
}

@keyframes movePath {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, 50px);
  }
}
.siteheader {
  position: relative;
}

.logoimg {
  margin-top: 2%;
}
.logoimg img{
  width: 50px;
}

.mt-3 {
  padding-top: 3%;
}

.mt-30 {
  padding-top: 30vh;
}
.header{
  padding: 36px 0;
  width: 100%;
  z-index: 2;
}
.fixed-menu {
  position: fixed;
  backdrop-filter: blur(6px);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}
.menu{
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}
.menu li {
  display: block;
  /* margin-top: 16px; */
  text-align: right;
}

.menu li a {
  color: #d0d0d0;
  letter-spacing: 0.8;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.menu li a i{
  font-size: 22px;
}

.menu li a.active {
  color: #F10086;
  font-weight: 600;
}

.menu li a {
  padding-right: 10px;
}
.menu li a i {
  transition: .2s all;
}

.menu li a:hover {
  color: #F10086;
  font-weight: 600;
  transition: 0.4s;
}
.menu li a:hover i {
  transform: scale(1.2);
}
.button-primary{
  border-radius: 32px;
  background: #F10086;
  padding: 12px 8px;
  width: 100%;
  color: white;
  text-align: center;
  box-shadow: 0px 1px 12px 2px rgba(241, 0, 134, 0.20);
  transition: 0.3s ease-in-out;
  transition-delay: 0.35s;
  overflow: hidden;
  position: relative;
  display: inline-block;
  will-change: transform;
}
.button-primary:hover{
  text-decoration: none;
  color: white;
}
.button-primary:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}
.button-primary:before {
  content: "";
  display: block;
  background: #b40164;
  position: absolute;
  width: 200%;
  transform: translate(-110%, -110%) translateZ(0);
  height: 500%;
  border-radius: 100%;
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.button-primary div, .button-primary-outline div{
  position: relative;
}
.button-primary-outline{
  border-radius: 32px;
  width: 100%;
  text-align: center;
  padding: 12px 8px;
  color: white;
  border: 1px solid #F10086;
  overflow: hidden;
  position: relative;
  display: inline-block;
  will-change: transform;
}
.button-primary-outline:before {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  width: 200%;
  transform: translate(-110%, -110%) translateZ(0);
  height: 500%;
  border-radius: 100%;
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.button-primary-outline:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}
.button-primary-outline:hover{
  text-decoration: none;
  color: #F10086;
}

.banner{
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

:root {
  --color-bg1: 113, 26, 117;
  --color-bg2: 32, 22, 30;
  --color1: 77, 18, 255;
  --color2: 245, 130, 167;
  --color3: 54, 24, 129;
  --color4: 78, 28, 80;
  --color5: 241, 0, 134;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradients-container {
  filter: url(#goo) blur(40px) ;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  opacity: .2;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}

.text-about{
  text-align: center;
}
.text-about h1 {
  background: linear-gradient(90deg, #FFF 37%, #F10086 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.text-about h1 b {
  font-weight: 700;
  /* border: 1px solid #f10186;
  position: relative; */
}
/* .text-about h1 b .ball-1, .text-about h1 b .ball-2, .text-about h1 b .ball-3, .text-about h1 b .ball-4{
  width: 15px;
  height: 15px;
  position: absolute;
  background: #f10186;
  border-radius: 100%;
}
.text-about h1 b .ball-1{
  left: -8px;
  top: -8px;
}
.text-about h1 b .ball-2{
  right: -8px;
  top: -8px;
}
.text-about h1 b .ball-3{
  right: -8px;
  bottom: -8px;
}
.text-about h1 b .ball-4{
  left: -8px;
  bottom: -8px;
} */
/* ----.text-about h1 span::before{
  width: 100%;
  content: '';
  height: 10px;
  position: absolute;
  bottom: 0;
  background: #3d174b;
}---- */
.text-about p {
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #F10086;
  width: 0;
  animation: typing 5s steps(36, end) infinite, blink 0.6s step-end infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 32ch;
  }
  80% {
    width: 32ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #F10086;
  }
}

.linha-divisoria {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  height: 1px;
  width: 100%;
}
.sobre-mim{
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
}
.sobre-mim video{
  position: absolute;
  right: -40%;
  bottom: 5%;
  width: 110%;
}
.sobre-mim::before{
  content: '';
  background-image: url('../Images/foto-sobremim.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .2;
  left: 0;
  top: 0;
}
.sobre-mim h2{
  font-size: 42px;
  font-weight: 700;
}

.sobre-mim h2 span{
  color: #F10086;
}
.sobre-mim p{
  color: white;
  font-weight: 300;
  line-height: 1.3;
}
.sobre-mim p b{
  color: #F10086;
  font-weight: 700;
  position: relative;
  display: inline-block;
  
}
.sobre-mim p b::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; /* Distância da linha abaixo do texto */
  width: 0;
  height: 2px; /* Espessura da linha */
  background-color: #F10086; /* Cor da linha */
  animation: underline 2s infinite ease-in-out;
}
@keyframes underline {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}
.sobre-mim h3{
  color: transparent;
  font-feature-settings: 'liga' off, 'clig' off;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #FFF;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 101px;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  word-break: break-all;
  font-family: arial;
}

#carreira{
  margin-top: 60px;
}
#carreira h2{
  font-size: 42px;
  font-weight: 700;
}
#carreira h3{
  color: transparent;
  font-feature-settings: 'liga' off, 'clig' off;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #FFF;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 101px;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  word-break: break-all;
  font-family: arial;
}
#carreira h5{
  font-size: 32px;
  font-weight: 700;
  color: white;
}
.container-skills{
  margin-top: 24px;
  border: 1px solid #342830;
  border-radius: 8px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.02);
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 4px;
  color: rgb(151, 151, 151);
  font-weight: 300;
}
.skill .title-wrapper span {
  font-weight: 600;
  color: white;
}
.skill{
  margin-bottom: 24px;
}
.skills-progress-bg {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}
.skills-progress-fill {
  background: #F10086;
  height: 100%;
  border-radius: inherit;
}

.timeline-list {
  margin-left: 65px;
}
.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item {
  position: relative;
}
.timeline-item:not(:last-child)::before {
  left: -40px;
}
.timeline-item:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -30px;
  width: 1px;
  height: calc(100% + 25px);
  background: hsl(0, 0%, 22%);
}
.timeline-item::marker{
  color: transparent;
}
.timeline-item::after {
  height: 8px;
  width: 8px;
  left: -43px;
}
.timeline-item::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #F10086;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}
.timeline-item-title {
  color: white;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0px;
}
.timeline-list span {
  color: #F10086;
  font-weight: 400;
  line-height: 1.6;
}
.timeline-text {
  max-width: 700px;
  color: #afafaf;
  margin-top: 3px;
  margin-bottom: 8px;
  font-size: 13.5px;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
}

.skills-code{
  /* background-color: #262730; */
  background-color: #0e0c0d;
  
  border-radius: 12px;
  padding: 36px;
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.skills-code .hero-text{
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: #E8EEF2;
}
.skills-code .hero-text h6{
  font-size: 24px;
}
.var {
  color: #F77669;
}
.var-name {
  color: #06D6A0;
}
.var-value {
  color: #FCB350;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  zoom: 80%;
}
.honeycomb-row:first-child, .honeycomb-row:last-child{
  gap: 25px;
}
.honeycomb-item {
  position: relative;
  background: rgba(255, 255, 255, 0.04);
  clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.honeycomb-item img{
  object-fit: contain;
  width: 50px;
  height: 50px;
}
.size-1 {
  width: 120px;
  height: 140px;
}

.size-2 {
  width: 115px;
  height: 130px;
  margin-left: 10px;
  margin-right: 5px;
}
.size-3 {
  width: 95px;
  height: 105px;
}
.honeycomb-row {
  display: flex;
  justify-content: center;
  margin-top: -27px;
}

.honeycomb-row:nth-child(odd) .honeycomb-item {
  margin-left: 10px;
}

.honeycomb-item:hover {
  background-color: #F10086;
  transform: scale(1.2);
  z-index: 10;
}
.portfolio {
  padding-right: 0 !important;
}

/* ---- .grid-item ---- */
.grid-item {
  float: left;
  /* Responsive image */
  /* clearfix mansory */
}
.grid-item a {
  overflow: hidden;
  display: block;
}
.grid-item img {
  transition: all 0.3s ease-in-out;
  display: block;
  max-width: 100%;
  margin: 0;
  object-fit: cover;
}
.grid-item img:hover {
  transform: scale(1.07);
}

.grid-item:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  .sobre-mim::before{
    left: -10%;
  }
}
@media (min-width: 320px) {

  .grid-sizer,
  .grid-item {
    width: 49%;
    padding: 0.5%;
  }
}

@media (min-width: 768px) {

  .text-about h1::before {
    font-size: 85px;
  }

  .grid-sizer,
  .grid-item {
    width: 33%;
    padding: 0.1665%;
  }
}

@media (min-width: 992px) {

  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
